*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.container{
    background: url('../res/under construction x2 06jpg.jpg');
    background-size: cover;
    width: 100%;
    height: 100dvh;
    /* background: red ; */
}